.embedded-sheet-container {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .embedded-sheet {
        width: 100%;
        height: 100%;
        border: none;
        transform: scale(0.8); /* Adjust the scale as needed */
        transform-origin: 0 0;
    }

  i.fas, i.material-icons {
  font-size: 2.0em; 
  margin-right: 20px; 
  color: #4CAF50; 
}

.material-icons {
  font-size: 24px;
}

.justified-text {
    text-align: justify;
}

.icon-text {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    font-family: Verdana, sans-serif; 
    margin-bottom: 5px; /* Adjust as needed */
}

.material-icons {
    margin-right: 5px; /* Adjust as needed for spacing between icon and text */
}

.green-border {
    border: 7px solid #99b3ff;
}

.green-border {
    border: 7px solid #99b3ff; /* Green border */
    transition: border-color 0.3s ease; /* Smooth transition effect */
}

.green-border:hover {
    border-color: darkviolet; /* Change border color on hover */
    transform: scale(0.9);
}

.project-image {
    transition: border-color 0.3s ease; /* Smooth transition effect */
}

.project-image:hover {
   
    transform: scale(1.1);
}

.header-link {
    color: black; /* Default color */
    transition: color 0.3s ease; /* Smooth transition effect */
}

.header-link:hover {
    color: #00008b; /* Dark blue color on hover */
}
